.button_1:hover{
    width: 70px;
    color: tomato;
}
#text_1{
    text-decoration: none;
}

/* box mẫu*/
.box1{
background-color: aqua;
}
.box2{
background-color: brown;
border: 10px solid black;

}
.box3{
background-color: chartreuse;
padding: 20px 20px;
border-style: solid;
border-color:  navy;
border-width: 10px;

}
.box{
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

