*{
    margin: 0;
    padding: 0;
}

.button_1:hover{
    width: 70px;
    color: tomato;
}
#text_1{
    text-decoration: none;
}

/* box mẫu*/
.a{
    width: 60px;
    height: 60px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-top: 30px;
}
.box1{
background-color: aqua;
padding: 5px 5px;
border: 5px solid red;


}
.box2{
background-color: brown;
border: 10px solid black;
padding: 10px 10px;
margin-left: 50px;
}
.box3{
background-color: chartreuse;
padding: 20px 20px;
border-style: solid;
border-color:  navy;
border-width: 10px;
margin-left: 50px;
}


/*  NEW BOX */
.b{
    width: 100px;
    height: 100px;
    padding: 10px 10px;
    border: 7px solid rebeccapurple;
    box-sizing: border-box;
    
    
    
}
.box5{
    background-color: darkorange;
    margin-top: 200px ;
    
}
.diffbox6{
    width: 100%;
    height: 100px;
    background-color: rgb(9, 255, 58);
    margin-top: 20px;
    padding: 15px;
    border: 8px dashed yellow;
    box-sizing: border-box;
    background-clip: content-box;
}


/* hinh anh, mau nen va cac thuoc tinh */
.diffbox7{
    width: 50%;
    height: 50vh;
    background-image: linear-gradient(0, rgba(255, 3, 0, 0.5), rgba(0, 0, 255, 0.5)), url(/images/content.jpg);
    background-repeat: no-repeat;
    background-size: 50%;
    margin-top: 50px;
    
}