:root{
    --primary-color: #ee4d2d;
    --white-color: #ffffff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 2.5rem;
    font-family: 'Rotobo',sans-serif;
    box-sizing: border-box;
}

/* withd 1200px để thiết bị lớn hơn 1200px sẽ hiển thị 
còn max-withd 100% giúp giảm tỉ lệ hiển thị linh hoạt trên thiết bị nhỏ hơn 1200px*/
.grid{
    width: 1630px;
    max-width: 100%;

    /* giúp căn khối này nằm giữa khi nằm trong khối kia */
    margin: 0 auto;

}
.grid__full-withd{
    width: 100%;
}
.gird__row{
    display: flex;
    flex-wrap: wrap;
}


/* MODAL */
.modal{
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    display: flex;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal__body{

    background-color: rgb(255, 255, 255);
    margin: auto;
    position: relative;
    z-index: 3;
    border-radius: 5px ;
    
}


/* Button styles */
.btn{
    min-width: 142px;
    height: 36px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    background-color: var(--white-color);
    font-size: 1.2rem ;
    padding: 0;
}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}