:root{
    --primary-color: #ee4d2d;
    --white-color: #ffffff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;


    --header-height: 120px;
    --navbar-height: 32px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
}
*{
    box-sizing: inherit;
}
html{
    font-size: 62.5%;
    line-height: 2.5rem;
    font-family: 'Rotobo',sans-serif;
    box-sizing: border-box;
}

/* withd 1200px để thiết bị lớn hơn 1200px sẽ hiển thị 
còn max-withd 100% giúp giảm tỉ lệ hiển thị linh hoạt trên thiết bị nhỏ hơn 1200px*/
.grid{
    width: 1600px;
    max-width: 100%;

    /* giúp căn khối này nằm giữa khi nằm trong khối kia */
    margin: 0 auto;

}
.grid__full-withd{
    width: 100%;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}

/* Test */
.grid__col-2{
    padding-left: 12px;
    padding-right: 12px;
    width: 16.6667%;
}

.grid__col-10{
    padding-left: 12px;
    padding-right: 12px;
    width: 83.3334%;
}


@keyframes FadeIn{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes growth{
    from{
        transform: scale(var(--growth-from));
    }
    to{
        transform: scale(var(--growth-to));
    }
}


/* MODAL */
.modal{
    position: fixed;
    top: 0%;
    bottom: 0%;
    right: 0%;
    left: 0%;
    display: flex;
    animation: FadeIn linear 0.1s;
}
.modal__overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
}
.modal__body{
    --growth-from: 0.7;
    --growth-to: 1;
    animation: growth linear 0.1s;
    margin: auto;
    position: relative;
    z-index: 3;
    border-radius: 5px ;
    
}


/* Button styles */
.btn{
    min-width: 124px;
    height: 34px;
    text-decoration: none;
    border: none;
    border-radius: 2px;
    background-color: var(--white-color);
    font-size: 1.2rem ;
    padding: 0 12px;
    cursor: pointer;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.btn.btn--normal:hover{
    background-color: #f3f3f3;
}

.btn.btn--size-s{
    height: 32px;
    font-size: 1.2rem;
    padding: 0 8px;


}

.btn.btn--primary{
    color: var(--white-color);
    background-color: var(--primary-color);
}

.btn.btn--disable{
    color: var(--text-color);
    cursor: default;
}


/* Selection */

.select-input{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 200px;
    background-color: var(--white-color);
    height: 34px;
    border-radius: 2px;
    padding: 0 12px;
}

.select-input:hover .select-input__list{
    display: block;
}

.select-input__label{
    font-size: 1.4rem;
}

.select-input__icon{
    font-size: 1.2  rem;
    color: rgb(131, 131, 131);
}

.select-input__list{
    padding: 8px 16px;
    position: absolute;
    left: 0;
    right: 0;
    top: 25px;
    background-color: var(--white-color);
    list-style: none; 
    display: none;
    animation: FadeIn ease 0.3s;
}

.select-input__link{
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    padding: 4px 0;
    display: block;
}

.select-input__link:hover{
    color: var(--primary-color);
}